input#fileUpload_input {
  height: 0px;
  width: 80px;
  cursor: pointer;
  /*position: absolute;*/
  top: 0px;
  right: 0px;
  /*font-size: 100px;*/
  z-index: 2;

  opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */
  filter: alpha(opacity=0); /* IE lt 8 */
  -ms-filter: "alpha(opacity=0)"; /* IE 8 */
  -khtml-opacity: 0.0; /* Safari 1.x */
  -moz-opacity: 0.0; /* FF lt 1.5, Netscape */
}

li#fileUpload_li {
  margin-left: 10px;
  margin-top: 8px;
}

/*Higher contrast table row border*/
tr, th {
  border: black solid 2px !important;
  font-size: 18px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #2E4272 !important;
    border-color: #2E4272 !important;
}

.btn-primary:active,
.btn-primary.active,
.btn-primary:focus,
.btn-group:active,
.btn-group:focus {
    background-color: #266100 !important;
    border-color: #266100 !important;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:visited,
.btn-danger:focus,
.btn-danger:active {
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.btn {
    font-size: 16px;
    font-weight: bold;
}

.alert-danger {
    font-size: 20px !important;
    color: #ffffff !important;
    background-color: #B3000D !important;
    border-color: #B3000D !important;
}

.alert-info {
    font-size: 20px !important;
    color: #ffffff !important;
    background-color: #061539 !important;
    border-color: #061539 !important;
}


.close,
.close:hover,
.close:visited,
.close:focus,
.close:active {
    color: #fff; 
    opacity: 1;
}