input#fileUpload_input {
  height: 0px;
  width: 80px;
  cursor: pointer;
  /*position: absolute;*/
  top: 0px;
  right: 0px;
  /*font-size: 100px;*/
  z-index: 2;

  opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */
  filter: alpha(opacity=0); /* IE lt 8 */
  -ms-filter: "alpha(opacity=0)"; /* IE 8 */
  -khtml-opacity: 0.0; /* Safari 1.x */
  -moz-opacity: 0.0; /* FF lt 1.5, Netscape */
}

li#fileUpload_li {
  margin-left: 10px;
  margin-top: 8px;
}

/*Higher contrast table row border*/
tr, th {
  border: black solid 2px !important;
  font-size: 18px;
}