<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
		<meta name="description" content="Chrome extension to transcribe audio files to text.">
		<meta name="author" content="EECS 481">

		<title>M-Study 2</title>

		<!-- Scripts -->
		<script src="static/js/jquery-2.0.3.min.js"></script>
		<script src="static/js/bootstrap.min.js"></script>
		<script src="static/js/jspdf.min.js"></script>
		<script src="static/js/index.js"></script>

		<!-- Cascading Style Sheets -->
		<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="static/css/custom.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="static/css/font-awesome/css/font-awesome.min.css">
	</head>

	<body>
		<div class="container-fluid">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">M-Study 2</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
				<ul class="nav navbar-nav">
				<li><input class="btn btn-default navbar-btn" type="button" value="Start Recording" id="record_button" style="margin-left:10px;"></input></li>
				<li id="fileUpload_li"><span id="mybutton" class="btn btn-default" ><input id="fileUpload_input" type="file" accept="audio/*" name="upload" />Upload</span></li>
				<li><input class="btn btn-default navbar-btn" type="button" value="Clear History" id="clear_button" style="margin-left:10px;"></input></li>
				<li><input class="btn btn-default navbar-btn" type="button" value="Settings" id="clear_button" data-toggle="modal" data-target="#settingsModal" style="margin-left:10px;"></input></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="modal" data-target="#aboutModal" style="margin-left:10px; margin-top: 8px">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
					</button>
				</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>


			

		<!--Template table for recent file transcriptions-->
		<section>
			
			<div id="deleteHistory_alert" class="alert alert-danger fade in" role="alert" style="visibility: hidden; display: none;" >
				<button type="button" class="close" aria-label="Close" id="x_cancel"><span aria-hidden="true">&times;</span></button>
				<p><strong>Warning.</strong> Are you sure you want to clear all recent history?</p><br>
				<button id="eraseTable" class="btn btn-danger">Clear All</button>
				<button id="historyCancel_btn" class="btn btn-default">Cancel</button>
			</div>
			<div id="ajaxloading_alert" class="alert alert-info fade in" role="alert" style="visibility:hidden; display: none; text-align: center;">
				<p id="recordingTimer_p" style="visibility: hidden; display: none;"><strong>Recording 10 seconds...</strong></p>
				<p id="loadingText_p"><strong>Loading Request...</strong></p><br>
				<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
			</div>
			<table id="recentTable" class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Date</th>
						<th>Title</th>
						<th>Export</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</section>
	</div>

	<!-- About M-Study 2 Modal -->
	<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="aboutModalLabel">About M-Study 2</h4>
		</div>
		<div class="modal-body">
			<p><strong>Welcome</strong><br>M-Study 2 transcribes audio to text and saves the most recent transcriptions.</p>
			<hr>
			<p><strong>Start Recording</strong><br>Record audio while the webapp is running. Audio is then automatically transcribed when the recording finishes.</p>
			<p><strong>Upload</strong><br>Upload an existing audio file for processing.</p>
			<p><strong>Clear History</strong><br>Clear all recent transcription history from the table. This is permanent and cannot be undone.</p>
			<p><strong>Settings</strong><br>Modify options to fit personal preferences. </p>
			<p><strong>?</strong><br>View About information. </p>
			<hr>
			<p><strong>History Table</strong><br>The transcription history table stores the 8 most recent items by default. This is adjustable in the settings.</p>
			<p><strong>Item Title</strong><br>Edit a transcription item's title. Changes are automatically saved when deselected.</p>
			<p><strong>Export Item</strong><br>Export transcription text. The default file type is adjustable in the settings.</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
		</div>
	</div>
	</div>

	<!--Settings Modal-->
	<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="settingsModalLabel">Settings</h4>
		</div>
		<div class="modal-body">
			<p><strong>Max Table Items</strong></p>
			<input type="number" id="settingsTableCount" min="1" max="100" step="1" value="8"/>
			<p style="margin-top: 16px;"><strong>Default Export Type</strong></p>
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-primary active">
					<input type="radio" name="options" id="option1" autocomplete="off" checked>Text (.txt)
				</label>
				<label class="btn btn-primary">
					<input type="radio" name="options" id="option2" autocomplete="off">Word (.docx)
				</label>
				<label class="btn btn-primary">
					<input type="radio" name="options" id="option3" autocomplete="off">PDF (.pdf)
				</label>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
		</div>
	</div>
	</div>
</body>
</html>
