<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
		<meta name="description" content="Chrome extension to transcribe audio files to text.">
		<meta name="author" content="EECS 481">

		<title>M-Study 2</title>

		<!-- Scripts -->
		<script src="static/js/jquery-2.0.3.min.js"></script>
		<script src="static/js/bootstrap.min.js"></script>
		<script src="static/js/index.js"></script>

		<!-- Cascading Style Sheets -->
		<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="static/css/custom.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="static/css/font-awesome/css/font-awesome.min.css">
	</head>

	<body>
		<div class="container-fluid">
			<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div>
					<ul class="nav navbar-nav navbar-left">
						<li>
							<a class="navbar-brand" href="#">
								M-Study 2
							</a>
						</li>
						<li><input class="btn btn-default navbar-btn" type="button" value="Start Recording" id="record_button"></input></li>
						<li id="fileUpload_li">
							<div id="mybutton" class="btn btn-default">
  							<input id="fileUpload_input" type="file" accept="audio/*" name="upload"/>
  							Upload
							</div>
					</li>
					<li><input class="btn btn-default navbar-btn" type="button" value="Clear History" id="clear_button" style="margin-left:10px;"></input></li>
					</ul>
				</div>
			</div><!-- /.container-fluid -->
			<button id="addRow">Add Row</button>
			</nav>


		<!--Template table for recent file transcriptions-->
		<section>
			
			<div id="deleteHistory_alert" class="alert alert-danger fade in" role="alert" style="visibility: hidden; display: none;" >
				<button type="button" class="close" aria-label="Close" id="x_cancel"><span aria-hidden="true">&times;</span></button>
				<p><strong>Warning.</strong> Are you sure you want to clear all recent history?</p><br>
				<button id="eraseTable" class="btn btn-danger">Clear All</button>
				<button id="historyCancel_btn" class="btn btn-default">Cancel</button>
			</div>
			<div id="ajaxloading_alert" class="alert alert-info fade in" role="alert" style="visibility:hidden; display: none; text-align: center;">
				<p><strong>Loading Request...</strong></p><br>
				<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
			</div>
			<table id="recentTable" class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Date</th>
						<th>Title</th>
						<th>Export</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</section>
	</div>
</body>
</html>
